.maintitle {
box-sizing: border-box;
color: rgb(0, 0, 0);
display: block;
font-family: "Open Sans", sans-serif;
font-size: 12.8px;
font-weight: 700;
height: 16px;
hyphens: auto;
line-height: 16.64px;
}

h5 {
  padding-left: 150px;
  padding-top: 10px;
}


